@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f7fafc;
  color: #2d3748;
}

.test {
  color: red;
  font-size: 24px;
}

